<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="/AdminLTE/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/AdminLTE/plugins/iCheck/all.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/AdminLTE/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/AdminLTE/plugins/datepicker/datepicker3.css">
    <!--Datatable-->
    <link rel="stylesheet" href="~/AdminLTE/plugins/Datatables.v1.12.1/datatables.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/toasty/toasty.css">
    <!-- Daterange picker -->
    @*<link rel="stylesheet" href="/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css">*@

    @*<link href="~/AdminLTE/plugins/daterangepicker-mater/daterangepicker.css" rel="stylesheet" />*@
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font: Source Sans Pro -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/Reference/fonts.googleapis.com.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/Reference/jquery-confirm.css" />
    <link rel="stylesheet" href="~/Content/Reference/preloader.css" />
    <link href="~/AdminLTE/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/site-main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/site-vertical.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"
          crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/site-vertical.css" rel="stylesheet">
    <link href="~/Content/all.css" rel="stylesheet">
    <link href="~/Content/Layout.css" rel="stylesheet">
    <link href="~/Content/Modal.css" rel="stylesheet">
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/Home">
                        <img src="~/Content/Images/logo-png-new.jpg" />
                    </a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header sidebar-user cursor" tabindex="0" data-toggle="popover" data-trigger="focus" data-content="" style="background-color:#F4F6FA">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="~/Content/Images/5267787e24324dd7a8df11c0ce4d3c13.gif"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>Thức Đỗ</strong>
                        </span>
                        <span class="user-mail">admin@gmai.com</span>
                        @*<span class="user-role">Administrator</span>*@
                        @*<span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>*@
                    </div>
                    <div id="popover-content" class="hidden">
                        <div class="popover-content">
                            <p class="mt10"><span class="view-user-info cursor"><a><i class="fa fa-user"></i>&nbsp;Thông tin cá nhân</a></span></p>
                            <p><span class="change-pass cursor"><a><i class="fa fa-lock"></i>&nbsp;Đổi mật khẩu</a></span></p>
                            <p><span class="log-out cursor" for="logout"><a href="/Login/Logout" id="logout"><i class="fas fa-sign-out-alt"></i>&nbsp;Đăng xuất</a></span></p>
                        </div>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-notif cursor">
                    <div>
                        <i class="fas fa-bell"></i>&nbsp;
                        @*<span class="badge">3</span>*@
                        <strong class="">Thông báo</strong>
                        <div class="float-right">
                            <span class="notif-badge">10</span>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <!-- sidebar-header  -->
                @*<div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>*@
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        @*<li class="header-menu">
                            <span>General</span>
                        </li>*@
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <strong>Hệ thống</strong>
                                
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="SUser">
                                            Quản lý tài khoản
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Quản lý chức năng</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục phòng ban</a>
                                    </li>
                                    <li>
                                        <a href="ConnectionConfig">Cấu hình kết nối</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-edit"></i>
                                <strong>ECUS - SignPro</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Danh sách tài khoản
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Gói dịch vụ</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh sách tài khoản</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-chart-line"></i>
                                <strong>ECUS - Audit</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Danh sách</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-database"></i>
                                <strong>ECUS - Drive</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Danh sách</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-comment"></i>
                                <strong>ECUS - Comments</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Danh sách</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-key"></i>
                                <strong>ECUS - Bản quyền</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Danh sách</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-bullhorn"></i>
                                <strong>ECUS - Thông báo</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Danh sách</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-sync"></i>
                                <strong>ECUS - Update</strong>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Danh sách</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @*<li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Documentation</span>
                                <span class="badge badge-pill badge-primary">Beta</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span>Examples</span>
                            </a>
                        </li>*@
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <!--<div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off"></i>
            </a>
        </div>-->
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            @RenderBody()
        </main>
        <!-- page-content" -->
    </div>
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Html.Partial("_UserInfoModal");

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/Reference/Message.js"></script>
    <script type="text/javascript" src="~/Scripts/Reference/jquery-confirm.js"></script>
    <script src="~/AdminLTE/plugins/toasty/toasty.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/EcusJs")
    @Scripts.Render("~/bundles/CommonJs")
    @Scripts.Render("~/bundles/Validator")
    <script src="~/AdminLTE/plugins/Datatables.v1.12.1/datatables.js"></script>
    <script src="~/Scripts/Reference/jquery.preloader.min.js"></script>
    <script src="~/Scripts/Common/common.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/AdminLTE/plugins/select2/select2.full.min.js"></script>
    <script src="/AdminLTE/dist/js/adminlte.js"></script>
    <script>
        function ReSize() {
            var $cardBody = $('.page-content');
            var $pageBody = $('.page-body');
            $cardBody.css('height', window.innerHeight - 21);
            $pageBody.css('height', window.innerHeight - 55);
        }
        ReSize();
        $(window).on('resize', function () { ReSize(); });


    </script>
    <script>
        jQuery(function ($) {

            $(".sidebar-dropdown > a").click(function () {
                $(".sidebar-submenu").slideUp(200);
                if (
                    $(this)
                        .parent()
                        .hasClass("active")
                ) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .next(".sidebar-submenu")
                        .slideDown(200);
                    $(this)
                        .parent()
                        .addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
                //$('.sidebar-menu a strong').toggleClass('hidden');
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });

        });
    </script>
    <script>
        $('.sidebar-user').off('click').on('click', function () {
            $(this).trigger('focus');
            $('[data-toggle="popover"]').popover({
                trigger: 'focus',
                html: true,
                placement: 'left',
                content: $('#popover-content').html()
            });
            $('[data-toggle="popover"]').on('shown.bs.popover', function () {
                $('.popover .view-user-info').off('click').on('click', function () {
                    $('.user-info-modal').modal('show');
                })
            })
            $('[data-toggle="popover"]').on('shown.bs.popover', function () {
                $('.popover .change-pass').off('click').on('click', function () {
                    $('.change-pass-modal').modal('show');
                })
            })
        })

        var $UserInfoModal = {
            init: function () {
                this.Event();
            },
            Self: $('.user-info-modal'),
            Event: function () {
                this.ChangeAvatar();
            },
            ChangeAvatar: function () {
                $(document).on('change', '#imageUpload', function (data) {
                    var imageFile = data.target.files[0];
                    var reader = new FileReader();
                    reader.readAsDataURL(imageFile);

                    reader.onload = function (evt) {
                        $('#imagePreview').attr('src', evt.target.result);
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(500);
                    }

                });
            }
        }
        $UserInfoModal.init();
    </script>
</body>
</html>
